@model TaskManagerDbDAL.TaskHandler

<h3>Task: @Model.TaskName</h3>
<div class="nav-justified">
    Id: @Model.Id <br/>
    Content: <span>@Model.TaskMessage</span><br/>
    Created: @Model.CreateDate <br/>
    Deadline: @Model.DueDate

</div>