@using TaskManagment.Model
@model TaskModel

<h3>Edit task</h3>
<a asp-action="ListActiveTasks">Back</a>

<form asp-action="Update" method="post">
    <table class="table-responsive">
        <tr>
            <td>                        
                @Html.HiddenFor(model => model.Id)
            
                @Html.HiddenFor(model => model.CompleteDate)
             
                @Html.HiddenFor(model => model.CreateDate)
            
                @Html.HiddenFor(model => model.DueDate)
              
                @Html.HiddenFor(model => model.Checked)

                <label asp-for="TaskName"></label>
            </td>
            <br />
            <td>
                <input asp-for="TaskName"></input>
            </td>

        </tr>
        <tr>
            <td>
                <label asp-for="TaskMessage"></label>
            </td>
            <td>
                <textarea asp-for="TaskMessage" rows="5" cols="22"></textarea>
            </td>
        </tr>

        <tr>
            <td>
                <label asp-for="DueDate"></label>

            </td>
            <td>
                <input asp-for="DueDate"></>
            </td>
        </tr>
        <tr>
            <td>
                <button>Update</button>
            </td>
        </tr>
    </table>

</form>


